mixin benefits(mods)
  -
    const baseName = 'benefits'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const data = [
      {
        name: 'Техника в&nbsp;наличии или по&nbsp;предзаказу',
        descr: 'Многие единицы сельхоз. техники имеются в наличии на заводе. Либо вы можете сделать предварительный заказ. Сроки исполнения заказа — 1 месяц.'
      },
      {
        name: 'Гарантийное обслуживание 1&nbsp;год',
        descr: 'В случае любой неисправности выезжаем к вам в течение 2 часов и исправляем необходимое. Возможно постгарантийное обслуживание'
      },
      {
        name: 'Возможность покупки в&nbsp;лизинг',
        descr: 'Предоставляем возможность купить сельскохозяйственную технику в лизинг. Возможно использование «СберЛизинг» или другим удобным способом'
      },
      {
        name: 'Доставка и&nbsp;ввод в&nbsp;эксплуатацию',
        descr: 'Самостоятельно доставляем технику до вашего хозяйства. Собираем и вводим в эксплуатацию. Это уже входит в стоимость'
      },
    ]

  .benefits(class=allMods)&attributes(attributes)
    .swiper-wrapper.benefits__slider
      each item, index in data
        .benefits__item.swiper-slide
          .benefits__num !{`0${index + 1}`}
          .benefits__name !{item.name}
          .benefits__descr !{item.descr}
    +ui-swiper-bullets('benefits')
    block
